body {
  margin: 0;
}

.page {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  min-height: 100vh;
}

header {
  width: 100%;
  padding: 4rem 0;
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#main-image-div {
  position: relative;
  width: 100%;
  max-width: 450px;
}

#overlay-text {
  margin: 0;
  font-size: 46px;
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

#aboutme-div {
  font-size: 20px;
  background-color: purple;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  height: 70%;
}

h2 {
  margin: 0;
  font-size: 34px;
  font-weight: 500;
}

main {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#projects-div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.card {
  background-color: green;
  width: 350px;
  height: 425px;
}

.card-info {
  padding: 0 1rem;
}

.card-info p {
  margin: 0.5rem 0;
}

.icon {
  width: 1.7rem;
}

h3 {
  font-size: 20px;
}

.project-title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



footer {
  background-color: darkcyan;
  width: 100%;
}