:root {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
}

.page {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  min-height: 100vh;
}

header {
  position: relative;
  width: 100%;
  padding: 4rem 0;
  z-index: 1;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header::before {
  height: 100%;
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0088ba;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
  z-index: -1;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#main-image-div {
  position: relative;
  /*margin-left: -80px;*/
  z-index: 999;
  width: 100%;
  max-width: 400px;
  box-shadow:
          -2px 2px 5px rgba(0, 0, 0, 0.2),   /* tiny left shadow */
          4px 4px 5px rgba(0, 0, 0, 0.45); /* main bottom-right shadow */
}

#overlay-text {
  margin: 0;
  font-size: 40px;
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

#aboutme-div {
  position: relative;
  font-size: 20px;
  background-color: #ffffff;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  box-shadow:
          -2px 2px 5px rgba(0, 0, 0, 0.2),   /* tiny left shadow */
          4px 4px 5px rgba(0, 0, 0, 0.45); /* main bottom-right shadow */
}

#aboutme-icons-div {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  gap: 10px;
}

h2 {
  margin: 0;
  font-size: 34px;
  font-weight: 500;
}

main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 2rem;
}

#projects-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card {
  background-color: #ffffff;
  height: 425px;
  box-shadow:
          -2px 2px 5px rgba(0, 0, 0, 0.2),   /* tiny left shadow */
          4px 4px 5px rgba(0, 0, 0, 0.45); /* main bottom-right shadow */
}

.card, .card-image {
  width: 100%;
  max-width: 40vw;
}

.card-info {
  padding: 0 1rem;
}

.card-info p {
  margin: 0.5rem 0;
}

.icon {
  width: 1.7rem;
}

h3 {
  font-size: 20px;
}

.project-title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: darkcyan;
  padding: 2rem 0;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 5vw;
  width: 100%;
}

#footer-div {
  width: 100%;
  max-width: 350px;
  padding: 0 3rem;
}

#footer-div h2 {
  font-size: 36px;
  margin-bottom: 2rem;
}

#footer-div p {
  margin: 0 0 0.5rem 0;
  font-size: 20px;
}

#footer-phone, #footer-email {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#footer-phone img, #footer-email img {
  margin-bottom: 8px;
}

#footer-icons {
  display: flex;
  gap: 10px;
}

#footer-picture {
  width: 100%;
  max-width: 650px;
  padding: 0 3rem;
}

@media (max-width: 1024px) {
  #projects-div {
    grid-template-columns: 1fr 1fr;
  }

  header {
    display: block;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  #overlay-text {
    transform: translate(100%, -420%);
  }

  #aboutme-div {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-top: 3rem;
    max-width: 70%;
  }

  #aboutme-h2 {
    margin-left: 40vw;
  }

  #main-image-div {
    float: left;
    margin-left: 2rem;
    margin-right: -9vw;
    margin-bottom: -3vw;
    max-width: 300px;
  }
}

@media (max-width: 600px) {
  header {
    display: flex;
  }

  #main-image-div {
    float: none;
    margin: -1rem 0 0 0;
    max-width: 90%;
  }

  #aboutme-div {
    padding: 1rem;
    transform: none;
    top: auto;
    left: auto;
    max-width: 90%;
  }

  #aboutme-h2 {
    margin-left: 27vw;
  }

  #overlay-text {
    transform: none;
  }

  #projects-div {
    grid-template-columns: 1fr;
  }

  .card, .card-image {
    width: 100%;
    max-width: 70vw;
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  #footer-div {
    max-width: 80vw;
    padding: 0;
  }

  #footer-picture {
    width: 100%;
    max-width: 80vw;
    padding: 0;
  }
}