<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Homepage</title>
  </head>
  <body>
  <div class="page">
    <header>
      <div id="main-image-div">
        <picture>
          <img src="../Assets/images/dogtown-crop.png" alt="some image for now">
        </picture>
        <p id="overlay-text">Edgerunner</p>
      </div>
      <div id="aboutme-div">
        <h2 id="aboutme-h2">About me</h2>
        <p id="aboutme-par">Name’s V. Been scraping by in Night City long enough to know the rules: trust no one, watch your back, and never come cheap. Didn’t ask for this ride, but I’m not about to get off now.
          People say there’s only one way it ends here, either you burn out or fade away.
          Me? I plan to go out in a blaze of glory.
          You wanna survive out here? You don’t wait for chances, you take ’em.</p>
        <div id="aboutme-icons-div">
          <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="github"/>
          <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg" alt="linkedin"/>
          <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/twitter/twitter-original.svg" alt="twitter"/>
        </div>
      </div>
    </header>
    <main>
      <h2 id="mywork-h2">My Story</h2>
      <div id="projects-div">
        <div class="card">
          <img src="../Assets/images/burgundy.png" alt="card pic">
          <div class="card-info">
            <div class="project-title-div">
              <h3>Heist Gone Wrong</h3>
              <div class="project-logos">
                <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="page icon">
                <img class="icon" src="../Assets/icons/open-in-new.svg" alt="page icon">
              </div>
            </div>
            <p class="project-par">Stole the chip—everything spirals from there.</p>
          </div>
        </div>
        <div class="card">
          <img src="../Assets/images/burgundy.png" alt="card pic">
          <div class="card-info">
            <div class="project-title-div">
              <h3>Johnny Awakens</h3>
              <div class="project-logos">
                <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="page icon">
                <img class="icon" src="../Assets/icons/open-in-new.svg" alt="page icon">
              </div>
            </div>
            <p class="project-par">Relic malfunctions, Silverhand takes the stage.</p>
          </div>
        </div>
        <div class="card">
          <img src="../Assets/images/burgundy.png" alt="card pic">
          <div class="card-info">
            <div class="project-title-div">
              <h3>Afterlife Dreams</h3>
              <div class="project-logos">
                <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="page icon">
                <img class="icon" src="../Assets/icons/open-in-new.svg" alt="page icon">
              </div>
            </div>
            <p class="project-par">Fought for rep, climbed the merc ladder.</p>
          </div>
        </div>
        <div class="card">
          <img src="../Assets/images/burgundy.png" alt="card pic">
          <div class="card-info">
            <div class="project-title-div">
              <h3>Rogue's Help</h3>
              <div class="project-logos">
                <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="page icon">
                <img class="icon" src="../Assets/icons/open-in-new.svg" alt="page icon">
              </div>
            </div>
            <p class="project-par">Teamed up with legends for one shot.</p>
          </div>
        </div>
        <div class="card">
          <img src="../Assets/images/burgundy.png" alt="card pic">
          <div class="card-info">
            <div class="project-title-div">
              <h3>Arasaka Showdown</h3>
              <div class="project-logos">
                <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="page icon">
                <img class="icon" src="../Assets/icons/open-in-new.svg" alt="page icon">
              </div>
            </div>
            <p class="project-par">Infiltrated the tower—no turning back.</p>
          </div>
        </div>
        <div class="card">
          <img src="../Assets/images/burgundy.png" alt="card pic">
          <div class="card-info">
            <div class="project-title-div">
              <h3>Blaze of Glory</h3>
              <div class="project-logos">
                <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="page icon">
                <img class="icon" src="../Assets/icons/open-in-new.svg" alt="page icon">
              </div>
            </div>
            <p class="project-par">Final choice: fade out or burn bright.</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div id="footer-div">
        <h2>Reach Out</h2>
        <p>Think you can cut through the noise? Might as well try contacting Johnny while you're at it—but if you're looking for something real, hit me up.</p>
        <br>
        <p>Heywood, Night City</p>
        <p>Night City, NC 2077</p>
        <br>
        <div id="footer-phone">
          <img class="icon" src="../Assets/icons/phone-outline.svg" alt="phone">
          <p>555-555-5555</p>
        </div>
        <div id="footer-email">
          <img class="icon" src="../Assets/icons/email-outline.svg" alt="email">
          <p>notjohnny@nocorp.net</p>
        </div>
        <br>
        <div id="footer-icons">
          <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="github"/>
          <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg" alt="linkedin"/>
          <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/twitter/twitter-original.svg" alt="twitter"/>
        </div>
      </div>
      <img src="../Assets/images/johnnyrogue.png" alt="">
    </footer>
  </div>
  </body>
</html>